
.peptide-heading-bg{
    background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)),url('../photos/peptide-bg.jpg');
    background-size:cover; 
    background-position: 50% 50%;
    background-repeat: no-repeat;
    min-height: 190px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.peptide-heading-bg h2{
    font-family: Georgia, serif !important;
    font-size: 3rem;
    font-weight: 700;
    color: white;
}

.peptide-2card-container{
    margin-top: 30px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.peptide-card{
    border: 2px #ff8000 solid;
    border-radius: 20px;
    width: 400px;
    height: 200px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    margin: 20px;
}

.peptide-card button{
    border-radius: 50px;
    border: 1px greenyellow solid;
    font-family: 'Open Sans',sans-serif;
    padding: 10px;
    font-size: 14px;
    background-color: #ff8000;
    width: 50%;
    margin-top: 10px;
    color: aliceblue;
    font-weight: 600;
}

.btn :hover{
    background-color: #ff8000;
    /* color: white; */
}

.peptide-card .photo-peptide-card{
    margin-left: 50px;
}

.peptide-card img{
    width: 320px;
    
}

#stapled-img{
    margin-left: 150px;
    padding-top: 10px;
}

#stapled-img img{
    width: 100px;
    /* height: 40px; */
}

#cys-br{
    padding-top: 20px;
}

.peptide-text-container{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.peptide-text{
    color: #ffffff !important;
    background-color: #ff8000 !important;
    padding: 10px;
    padding-left: 20px;
    padding-bottom: 5px;
    padding-right: 10px;
    border-radius: 20px;
    text-align: center;
    max-width: 500px;
    font-size: 20px;
    margin-left: 10px;
    margin-right: 10px;
    
    
}


@media screen and (max-width: 500px){
    .peptide-heading-bg h2{
        font-size: 1.73rem;
    }
}


@media screen and (max-width: 420px){
    .peptide-card{
        margin: 0px;
        margin-top: 20px;
    }
        #stapled-img{
            margin-left: 10px;
    }
    .peptide-card .photo-peptide-card{
        margin-left: 10px;
    }
    .peptide-card img{
        width: 240px;
        
    }
}



