.aboutus-image-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.ab-image-container{
    width: 50%;
    text-align: center;
}

.aboutus-text{
    margin: 0px;
    width: 50%;
    padding: 50px;
    background-color: #858e99;
    min-height: 640px;
}

.aboutus-text h2{
    font-family: Georgia, serif !important;
    font-size: 45px;
    font-weight: 200;
}

.aboutus-text p{
    font-size: 1.25rem;
    margin-top: 30px;
    color: #ffffff;
}

.img-about{
    width: 560px;
    height: 515px;
    margin-top: 75px;
}

@media screen and (max-width: 991px){
    .img-about{
        width: 300px;
        height: 276px;
    }
    .aboutus-image-container{
      flex-direction: column;
    }
    .aboutus-text{
        width:100%;
        margin-top: 30px;
    }
    .ab-image-container{
        width: 100%;
    }
}

@media screen and (max-width: 290px){
    .img-about{
        width: 276px;
        height: 276px;
    }
}